body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    h1 {
        background-color: #67b3b5;
        color: #fff;
        padding: 20px 0;
        margin: 0;
    }

    form {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    label {
        display: block;
        font-weight: bold;
        margin: 10px 0;
        text-align: center;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
    }

    input[type="submit"] {
        display: block;
        margin: 10px auto;
        padding: 10px 20px;
        background-color: #67b3b5;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }

    input[type="submit"]:hover {
        background-color: #4a8a8c;
    }

    .custom-file-input {
        display: none;
    }
    
    .custom-file-label {
        background-color: #67b3b5;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
    }
    
    .custom-file-label:hover {
        background-color: #4a8a8c;
    }

    .file-upload {
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 0 auto;
        width: 80%;
    }
    
    .file-upload input[type="file"] {
        display: none;
    }
    
    .file-upload .file-upload-text {
        padding: 10px 20px;
        background-color: #67b3b5;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .file-upload .file-upload-text:hover {
        background-color: #4a8a8c;
    }